<div class="container-fluid" style="margin: 0;padding:0;">
    <div class="banner">
        <div class="ball"></div>
        <hr>
        <h1>Services</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic odio beatae quam illum soluta saepe aperiam autem perspiciatis! Minima eligendi possimus ipsum eveniet dignissimos quibusdam doloribus quod nostrum, asperiores nobis.</p>
    </div>
</div>

<div class="container">

    <div *ngFor="let item of tools" class="row cards2">
        <div class="col-lg-6 col-md-6 col-sm-12 left2">
            <img src="{{item.images}}" alt="" class="left2_img">
            <div class="icons">
                <i class="fa-solid fa-comment"></i>
                <i class="fas fa-share-alt"></i>
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 p-2 right2">
            <h1>{{item.toolname}}</h1>
            <!-- <button class="book_now" (click)="service_item(item._id)"></button> -->
            <button class="view_more" (click)="service_item(item._id)">View More</button>
            <h3>Items : Apple, Orange, Mango, Grapes, Chiku</h3>
            <p class="description">Description : {{item.desc}}</p>
            <h4>Price : {{item.charges}}</h4>
            <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator> -->


    <!-- <app-footer></app-footer> -->