.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/img/drone.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.banner h1 {
    font-size: 28px;
    font-weight: bold;
    color: #FEFFED;
}

.banner p {
    font-size: 18px;
    color: #FEFFED;
    padding: 10px;
    text-align: center;
}

.banner .ball {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: radial-gradient(circle at 50% 120%, rgb(85, 138, 6), greenyellow 80%, greenyellow 100%);
    animation: jump .9s infinite;
}

@keyframes jump {
    0% {
        transform: tanslateY(0px);
        box-shadow: 0px 0px 0px greenyellow
    }
    50% {
        transform: translateY(-50px);
        box-shadow: 0px 0px 20px greenyellow
    }
    100% {
        transform: translateY(0px)
    }
}

.left2 {
    position: relative;
}

.cards2 {
    position: relative;
    height: 350px;
    margin: 100px auto;
    background: #fff;
    box-shadow: 7px 7px 50px 0px rgba(0, 0, 0, 0.7);
}

.left2_img {
    position: absolute;
    box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, 0.7);
    width: 90%;
    height: 90%;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
}

.cards2 h1 {
    font-size: 28px;
    font-weight: bold;
}

.cards2 .book_now {
    background-color: #72A603;
    margin-right: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: #FEFFED;
    border-radius: 10px;
}

.cards2 .view_more {
    background-color: #FEFFED;
    margin-right: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: #72A603;
    border-radius: 10px;
    border: 1px solid #72A603;
}

.cards2 .book_now:hover,
.cards2 .view_more:hover {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.cards2 h3 {
    margin-top: 10px;
    font-size: 20px;
}

.description {
    width: 100%;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cards2 h4 {
    font-size: 27px;
    font-weight: bold;
}

.reviews {
    font-size: 20px;
    margin-top: 20px;
    color: yellow;
}

.reviews i {
    margin-right: 10px;
}

.icons {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
}

.icons i {
    margin-right: 30px;
    font-size: 28px;
    background-color: white;
    color: green;
    padding: 10px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .cards2 {
        height: 650px;
    }
    .left2,
    .right2 {
        height: 50%;
    }
}