<!-- banner starts -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item c_item active">
            <img src="../../assets/img/farmer1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption c_caption d-none d-md-block">
                <h5 class="m-3"> Tools & Services</h5>
                <p class="m-3">It is essential to have good tools, but it is also essential that the tools should be used in the right Way. We Provide Our Best Tools And Service! </p>
                <button class="btn p-2 m-3">View More</button>
            </div>
        </div>

        <div class="carousel-item c_item">
            <img src="../../assets/img/farmer2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption c_caption d-none d-md-block">
                <h5 class="m-3">Storage Facility</h5>
                <p class="m-3">Plan to build up your food supply just as you would a savings account. Save a little for storage each paycheck. Can or bottle fruit and vegetables from your gardens and orchards.We provide Storage facility to store your Items.</p>
                <button class="btn p-2 m-3">View More</button>
            </div>
        </div>

        <div class="carousel-item c_item">
            <img src="../../assets/img/farmer3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption c_caption d-none d-md-block">
                <h5 class="m-3">Contract-Farming</h5>
                <p class="m-3">agricultural production carried out according to an agreement between a buyer and farmers, which establishes conditions for the production and marketing of a farm product or products.</p>
                <button class="btn p-2 m-3">View More</button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container works mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 col-sm-12  p-5 works_content">
            <h2>Services</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus asperiores dolorum cupiditate. Excepturi ipsam deserunt temporibus reprehenderit soluta dolore voluptatibus?</p>
            <button class="btn">View More</button>
        </div>
        <div class="col-md-6 col-sm-12 works_img">
            <div id="carouselExampleFade" data-interval="1000" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item work_item active">
                        <img src="../../assets/img/c2 (1).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item work_item">
                        <img src="../../assets/img/c2 (2).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item work_item">
                        <img src="../../assets/img/c2 (3).jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12 works_img">
            <div id="carouselExampleFade" data-interval="1000" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item work_item active">
                        <img src="../../assets/img/c2 (1).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item work_item">
                        <img src="../../assets/img/c2 (2).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item work_item">
                        <img src="../../assets/img/c2 (3).jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 p-5 works_content">
            <h2>Contract Farming</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus asperiores dolorum cupiditate. Excepturi ipsam deserunt temporibus reprehenderit soluta dolore voluptatibus?</p>
            <button class="btn">View More</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 col-sm-12 p-5 works_content">
            <h2>Storage</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus asperiores dolorum cupiditate. Excepturi ipsam deserunt temporibus reprehenderit soluta dolore voluptatibus?</p>
            <button class="btn">View More</button>
        </div>
        <div class="col-md-6 col-sm-12 works_img">
            <div id="carouselExampleFade" data-interval="1000" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item work_item active">
                        <img src="../../assets/img/c2 (1).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item work_item">
                        <img src="../../assets/img/c2 (2).jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item work_item">
                        <img src="../../assets/img/c2 (3).jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>