<div class="container-fluid">
    <div class="row">
        <div class="col-12 banner">
            <h1>Kisan Sakha</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa repellendus molestiae tenetur quaerat fuga, accusamus dolorum deleniti labore exercitationem veritatis.</p>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 description">
            <img src="{{details.images}}" alt="">
            <h1>Service : {{details.toolname}}</h1>
            <p>Price : {{details.charges}}</p>
            <p> Description : {{details.desc}}</p>
        </div>