.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/img/equipments_bg.jpg');
    background-size: cover;
    width: 100%;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 28px;
    color: #FEFFED;
    font-weight: bold;
}

.banner p {
    font-size: 24px;
    color: #FEFFED;
    text-align: center;
}

.description {
    background-image: url('../../../assets/img/backround_img.jpg');
    padding: 10px;
}

.description h1 {
    font-size: 28px;
    color: #FEFFED;
    text-align: center;
}

.description p {
    font-size: 24px;
    color: #FEFFED;
}

.description img {
    width: 100%;
    height: 300px;
}